#head {
padding-top: 10px;
padding-bottom: 10px;
background-color: #272c38;
color: white;
border-color: black;
font-size:36px;
text-align:center;
}

.connected{
  color:#7FFF00;
}
[class*="col-"] {
    
    float: left;
    padding: 10px;
    padding-left: 20px;
}
.col-1 {width: 15%;}
.col-2 {width: 15%;}
.col-3 {width: 35%;}
.col-4 {width: 40%;}
.col-5 {width: 50%;}
.col-6 {width: 60%;}
.col-7 {width: 70%;}
.col-8 {width: 80%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;
}

.test9{
  width: 300px;
  margin: 0 auto;
}
.cl{
    border-right: 1px solid rgba(192,192,192,0.8);
    
}
.p1{
  position: relative;
  text-align:center;
  height: 50px;
  width: 300px;
  font-size: 30px;
  padding: 0px;
  border: solid 1.5px;
  border-color: white;
  color: white;
  margin: 0 auto;
}
.back1{
  background-color: black;

}
.fcolor
{
  color:rgb(255, 87, 51);
}
